@font-face {
    font-family: "FlameReg";
    src: url("../Fonts/Flame-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "FlameReg";
}

:root {
    background-color: rgb(246,235,220);
    color: white;
    
}

body {
    display: grid;
    grid-template: 12% 88% / 1fr;
    height: 100vh;
    width: 100vw;  
}